body {
    font-family: 'EB Garamond', serif;
    background-color: #f1b0b0;
    color: black;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column; /*tem que ser coluna*/
    align-items: center;
    text-align: center;
}

img { 
    width: 400px;
    justify-content: center;
    align-items: center;
}

h1 {
    padding: 10px;
    font-size: 2rem;
    text-align: center; /*centraliza o texto*/
}

div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;
}

form {
    padding: 20px;
    align-items: center;
}

form #entrada {
    align-items: center;
}

#botoes {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

#botoes input {
    min-width: 300px;
    flex: 1;
    height: 40px;
    border-radius: 10px; /*arredonda as bordas*/
    font-size: 1.9rem;
}

#botoes input:hover {
    background-color: #f1b0b0;
    font-size: 2rem;
}

label {
    font-size: x-large;
    color: black;
}

input [type="number"]{
    width: 10px;
    background-color: antiquewhite;
    color: black;
    border-bottom: 1px;
    box-sizing: content-box;
}

h3 {
    margin: 10px;
    text-align: center;
}
